.content__left
  .content__left__top
    %p.content__left__top__username
      / %b username
      - if user_signed_in?
        = current_user.name
    .content__left__top__left
      %i.fa.fa-pencil-square-o.fa-2x.set{"aria-hidden" => "true"}
      - if user_signed_in?
        = link_to edit_user_registration_path do
          %i.fa.fa-cog.fa-2x.set{"aria-hidden" => "true"}
      - elsif
        = link_to new_user_session_path do
          %i.fa.fa-cog.fa-2x.set{"aria-hidden" => "true"}
  .content__left__buttom
    = render @groups
